NEXT_PUBLIC_SANITY_PROJECT_ID=xjvxdesl
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-02-01

# Optional: required for draft content and future preview features
# SANITY_API_READ_TOKEN=
